$button-pressed: #1246E5 !default;

%button-selected {
  color: color(ui-text-light);
  background-color: color(brand-primary);
  border: $button-border-style;

  &:active {
    background-color: $button-pressed;
    border-color: $button-pressed;
  }

  &:focus {
    @include animation-ripple($button-pressed, $button-animation-duration);
  }
}

.#{$prefix}button {
  @extend %button;

  &--secondary {
    color: color(brand-primary);
    border: $border-default;

    &:disabled {
      border-width: $border-width-base;
    }
  }

  &--tertiary {
    @extend %button-selected;
    width: 100%;
  }

  &--plus {
    &::before {
      content: '+';
      margin-right: space(small);
      font-size: font-size(medium);
      font-weight: font-weight(bold);
      line-height: 0;
    }
  }

  &--selected {
    @extend %button-selected;
  }

  &--disabled {
    @extend %button-disabled;
  }
}
