@use './../variables/global-constants-config' as const;
@use './../mixins/animation-ripple' as mixAnimation;
@use './../functions/color' as fnColor;
@use './../elements/button' as *;

$button-pressed: #1246e5 !default;

%button-selected {
  color: fnColor.color(ui-text-light);
  background-color: fnColor.color(primary);
  border: $button-border-style;

  &:active {
    background-color: $button-pressed;
    border-color: $button-pressed;
  }

  &:focus {
    @include mixAnimation.animation-ripple($button-pressed, $button-animation-duration);
  }
}

.#{const.$prefix}button {
  @extend %button;

  &--secondary {
    color: fnColor.color(primary);
    border: const.$border-default;

    &:disabled {
      border-width: const.$border-width-base;
    }
  }

  &--tertiary {
    @extend %button-selected;
    width: 100%;
  }

  &--plus {
    &::before {
      content: '+';
      margin-right: space(small);
      font-size: font-size(medium);
      font-weight: font-weight(bold);
      line-height: 0;
    }
  }

  &--selected {
    @extend %button-selected;
  }

  &--disabled {
    @extend %button-disabled;
  }
}
