@use './../variables/global-constants-config' as const;

.#{const.$prefix}list {
  &__item {
    padding: space(medium) 0;
    border-top: const.$border-default;

    &:last-child {
      border-bottom: const.$border-default;
    }
  }
}
