@use './../variables/global-constants-config' as const;
@use './../functions/color' as fnColor;
@use './../functions/space' as fnSpace;
@use './../functions/z-index' as fnZIndex;
@use './../functions/border-radius' as fnBorderRadius;
@use './../mixins/fade' as mixFade;
@use './../mixins/slide-bottom' as mixSlideBottom;

$modal-bottom-background: rgba(0, 0, 0, 0.4) !default;

.#{const.$prefix}modal-bottom {
  position: fixed;
  top: 0;
  left: 0;
  z-index: fnZIndex.z-index(medium);
  width: 100%;
  height: 100vh;

  &--dark-background {
    background-color: $modal-bottom-background;
  }

  &--visible {
    @include mixFade.fade(in, 0.3s);
  }

  &--hidden {
    @include mixFade.fade(out, 0.3s);
  }

  &__content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: fnSpace.space(large);
    background-color: fnColor.color(ui-background-secondary);
    border-radius: fnBorderRadius.border-radius(small) fnBorderRadius.border-radius(small) 0 0;

    &--visible {
      @include mixSlideBottom.slide-bottom(in, 0.5s);
    }

    &--hidden {
      @include mixSlideBottom.slide-bottom(out, 0.5s);
    }
  }
}
