@use './../variables/global-constants-config' as const;
@use './../functions/color' as fnColor;
@use './../functions/space' as fnSpace;
@use './../functions/rem' as fnRem;
@use './../functions/z-index' as fnZIndex;
@use './../mixins/reset-configs' as mixReset;
@use './../mixins/fade' as mixFade;

.#{const.$prefix}modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: fnZIndex.z-index(high);
  width: 100%;
  min-height: 100vh;
  padding: fnSpace.space(large);
  background-color: fnColor.color(ui-background-secondary);

  &__button {
    @include mixReset.reset-configs(true, true, true, true);
    float: right;
    width: fnRem.rem(15px);
    height: fnRem.rem(15px);
    color: fnColor.color(primary);
    cursor: pointer;

    &:active {
      color: fnColor.color(ui-text-secondary);
    }
  }

  &__content {
    margin-top: fnSpace.space(xlarge);
  }

  &--visible {
    @include mixFade.fade(in);
  }

  &--hidden {
    @include mixFade.fade(out);
  }
}
