@use '../functions/color' as fnColor;
@use '../functions/space' as fnSpace;

%hr {
  display: block;
  width: 100%;
  margin: {
    top: fnSpace.space(medium);
    bottom: fnSpace.space(medium);
  }
  border-bottom: 1px solid fnColor.color(ui-border-primary);
}

hr {
  @extend %hr;
}
