@use '../functions/rem' as fnRem;
@use '../functions/color' as fnColor;

$progress-bar-background: #e9e9e9 !default;

progress {
  appearance: none;
  width: 100%;
  height: fnRem.rem(4px);

  &::-webkit-progress-value {
    background-color: fnColor.color(ui-success);
    border-radius: border-radius(small);
  }

  &[value] {
    &::-webkit-progress-bar {
      background-color: $progress-bar-background;
      border-radius: border-radius(small);
    }
  }
}
